// Font.
$font: (
  primary: ("Open sans"),
  secondary: ("Playfair Display")
);

// Palette.
$palette: (
  primary:       #161515,
  secondary:     darken(#373738, 15%),
  meta:          lighten(#536171, 25%),
  border:        lighten(#536171, 52%),
  bg:            lighten(#536171, 58%),
  accent:        #5c5dbe,
  accent-blue:   #515c97,
  accent-black:  #333b45,
  accent-red:    #FF4133
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/intro";
// @import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
