/**
 * Site Header
 */
.site-header {
  background: #ffffff;
  padding-bottom: 1.33333em;
  padding-top: 1.33333em;
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.headerText{
display: flex;
flex-direction: column;
text-align: center;
}

.site-branding {
  -webkit-box-flex:o;
  padding-top: 10px;

  -ms-flex: 0 1 auto;
  flex: 0 1 auto;

  a {
    align-self:center;
    border: 0;
    color: inherit;
    margin-left: auto;
    margin-right: auto;
  }
}


.title {
  color:#333b45;
  font-family: _font(secondary);
  font-size: 48px;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}



.menu {
  list-style: none;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

ul.menu-item{
  margin-left: auto;
  margin-right: auto;

}



.menu-item {
  &.current-menu-item {
    color: _palette(meta);
  }

  a {
    &:not(.button) {
      border: 0;
      color: inherit;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &:hover {
        color: _palette(meta);
      }
    }
  }
}
